.Avatar {
  border: 3px solid lightgrey;
  position: relative;

  &--is-selected {
    background: rgba(limegreen, 0.25);
    box-shadow: 0 0 1em 0.125em limegreen;
    border-color: limegreen;
    cursor: pointer;
  }

  &__image {
    width: 100%;
    object-fit: contain;
    display: block;
    pointer-events: none;
  }

  &__bar {
    border-top: inherit;
    width: 100%;
    height: 8px;
  }

  &__index {
    background: limegreen;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 3px 3px 0;
  }

  &__level {
    background: lightgrey;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0 3px 3px;
  }

  &__health {
    background: green;
  }

  &__experience {
    background: purple;
  }
}