.Avatar {
  border: 4px solid #0E1A27;
  border-image: var(--border-image-avatar) 4;
  position: relative;

  &--is-selected {
    background: rgb(var(--color-accent-500, 0.5));
    box-shadow: 0 0 1em 0.125em rgb(var(--color-accent-500));
    border-image: var(--border-image-avatar-highlighted) 4;
    cursor: pointer;
    .Avatar__cooldown {
      --cooldown-color: var(--color-accent-500), 0.75;
    }
  }

  &__image {
    width: 100%;
    object-fit: contain;
    display: block;
    pointer-events: none;
  }

  &__cooldown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1;
    --cooldown-color: 0, 0, 0, 0.66;
  }

  &__bar {
    border-top: inherit;
    border-image: inherit;
    width: 100%;
    height: 8px;
  }

  &__index {
    background: rgb(var(--color-accent-500));
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 3px 3px 0;
  }

  &__display {
    position: absolute;
    font-size: 0.75em;
    top: 0;
    right: 0;
    padding: 2px 4px;
  }

  &__health {
    background: #020;
    &--inner {
      background: #060;
      height: 100%;
      box-shadow: 0 0 0 1px inset rgba(white, 0.2);
    }
  }
}