.ButtonGroup {
  &__container {
    display: flex;
    padding: 0.5em 0;
  }
  &__group-name {
    margin-right: auto;
    font-size: 1.25rem;
  }
  &__item {
    input {
      display: none;
      &:checked ~ span {
        background: rgb(var(--color-300, 0.5));
        color: white;
      }
    }
    span {
      background: rgb(var(--color-700));
      color: rgba(var(--color-tint));
      padding: 0.25em 0.5em;
      margin-right: 2px;
    }
    &:first-of-type span {
      border-radius: .5em 0 0 .5em;
    }
    &:last-child span {
      border-radius: 0 .5em .5em 0;
      margin-right: 0;
    }
  }
}