.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .page {
    flex: 1;
    overflow: auto;
  }

  &__header {
    background: rgb(var(--color-850));
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: var(--height-header);
    padding: 0.5rem;
    box-shadow: 0 1rem 2rem rgba(var(--color-shadow));
    position: relative;
    z-index: 1;

    h1 {
      flex: 1;
      font-size: 1.25em;
      width: 100%;
    }

    button {
      border: none;
      background: none;
      padding: 0;
      width: 2em;
      height: 2em;
      box-shadow: none;
      &:empty {
        visibility: hidden;
      }
    }
  }
}