.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .page {
    flex: 1;
    overflow: auto;
  }

  &__header {
    background: var(--foreground-color);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    padding: 0.5em;
    box-shadow: 0 1em 2em rgba(0, 0, 0, .75);
    position: relative;
    z-index: 1;

    h1 {
      flex: 1;
      font-size: 1.25em;
      width: 100%;
    }

    button {
      border: none;
      background: none;
      padding: 0;
      width: 2em;
      height: 2em;
      box-shadow: none;
      &:empty {
        visibility: hidden;
      }
    }
  }

  &__footer {
    background: var(--foreground-color);
    display: flex;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-size: 1em;
    box-shadow: 0 -1em 2em rgba(0, 0, 0, .75);
    position: relative;

    a {
      flex: 1;
      text-decoration: none;
      padding: 0.2em;
      color: currentColor;
      font-weight: bold;
      
      &::before {
        content: '\2735';
        display: block;
        font-size: 2em;
      }
      
      &.active {
        cursor: default;
        opacity: 0.2;
      }
    }
  }
}