@import 'tmp';

@font-face {
  font-family: 'PixelMordred';
  src: url('/font/PixelMordred.woff2') format('woff2'),
      url('/font/PixelMordred.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  font-size: 18px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: PixelMordred, monospace;
  font-smooth: never;
  -webkit-font-smoothing : none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background: whitesmoke;
  display: flex;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.8em;

  a {
    flex: 1;
    text-decoration: none;
    padding: 0.2em;
    color: currentColor;
    
    &::before {
      content: '\2735';
      display: block;
      font-size: 2em;
    }
    
    &.active {
      cursor: default;
      opacity: 0.2;
    }
  }
}