@import 'tmp';

@font-face {
  font-family: 'Pixel Operator Mono';
  src: url('/font/PixelOperatorMono.woff2') format('woff2'),
      url('/font/PixelOperatorMono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixel Operator Mono';
  src: url('/font/PixelOperatorMono-Bold.woff2') format('woff2'),
      url('/font/PixelOperatorMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  line-height: 1;
  font-family: 'Pixel Operator Mono', monospace;
  font-smooth: never;
  -webkit-font-smoothing : none;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: 6px solid;
  font: inherit;
  font-weight: bold;
  padding: 0;
  line-height: 0;
  padding: 1em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3125em;
}

nav {
  background: whitesmoke;
  display: flex;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1em;
  text-transform: uppercase;

  a {
    flex: 1;
    text-decoration: none;
    padding: 0.2em;
    color: currentColor;
    font-weight: bold;
    
    &::before {
      content: '\2735';
      display: block;
      font-size: 2em;
    }
    
    &.active {
      cursor: default;
      opacity: 0.2;
    }
  }
}