@import 'tmp';

@font-face {
  font-family: 'Pixel Operator Mono';
  src: url('/font/PixelOperatorMono.woff2') format('woff2'),
      url('/font/PixelOperatorMono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixel Operator Mono';
  src: url('/font/PixelOperatorMono-Bold.woff2') format('woff2'),
      url('/font/PixelOperatorMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-color: #090D16;
  --foreground-color: #0E1A27;
  --selection-color: cyan;
  --selection-bg: rgba(0, 255, 255, 0.5);
}

html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--background-color);
  color: white;
  margin: 0;
  line-height: 1;
  font-family: 'Pixel Operator Mono', monospace;
  font-smooth: never;
  -webkit-font-smoothing : none;
  overflow-x: hidden;
}

hr {
  border: 0;
  height: 2px;
  background: currentColor;
  opacity: .1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  border-radius: 0;
  font: inherit;
  font-weight: bold;
  padding: 0;
  background: linear-gradient(#1E1E1E 20%, #070707) no-repeat;
  position: relative;
  height: calc(30px + 1em);
  padding: 0 1em;
  color: white;
  border: 4px solid #393A3B;
  border-radius: 5px;
  border-image: url('/assets/border-button.png') 25;
  box-shadow: 0 0 0 1px rgba(white, 0.05) inset;
  &:hover {
    box-shadow: 0 0 0 1px rgba(white, 0.25) inset;
  }
  // &::before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   border: 15px solid;
  //   top: 0;
  //   left: 0;
  //   border-image: url('/assets/border-button@4x.png') 108;
  //   border-image-outset: 8px;
  //   width: 100%;
  //   height: 100%;
  // }
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3125em;
}

nav {
  background: var(--foreground-color);
  display: flex;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1em;
  text-transform: uppercase;

  a {
    flex: 1;
    text-decoration: none;
    padding: 0.2em;
    color: currentColor;
    font-weight: bold;
    
    &::before {
      content: '\2735';
      display: block;
      font-size: 2em;
    }
    
    &.active {
      cursor: default;
      opacity: 0.2;
    }
  }
}