// temporary classes that should be refactored asap

.tmp {
  &-grid {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(4, 1fr);
  }
  &-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-avatar-list-item {
    display: grid;
    grid-template-columns: 2fr 1fr 5fr;
    gap: 0.5em 1em;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid var(--foreground-color);
    &:last-child {
      border-bottom: none;
    }
    .Avatar {
      grid-row: 1 / 5;
    }
    .item-image {
      display: block;
      grid-row: 3 / 5;
      width: 100%;
      border: 2px solid var(--foreground-color);
    }
  }
  &-frame {
    border: 25px solid;
    border-image: url('/assets/border@4x.png') 100;
    border-image-outset: 9px;
    background: var(--foreground-color);
    margin: 0.5em;

    text-align: center;

    h2 {
      margin-top: 0;
    }

    .button,
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1em auto 0;
      width: 24ch;
    }
  }
}

.page {
  padding: 2em 1em;
  position: relative;
  &--centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.errors {
  font-family: 'DM Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  position: absolute;
  padding: 1em;
  color: red;
  bottom: 0;
  width: 100%;
  > * {
    margin-top: 1em;
  }
}