// temporary classes that should be refactored asap

.tmp {
  &-grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
  }
  &-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-frame {
    border: 25px solid;
    border-image: url('/assets/border@4x.png') 100;
    border-image-outset: 9px;
    background: var(--foreground-color);
    margin: 0.5em;

    text-align: center;

    h2 {
      margin-top: 0;
    }

    .button,
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1em auto 0;
      width: 24ch;
    }
  }
}

.page {
  padding: 2em 1em;
  position: relative;
}

.errors {
  font-family: 'DM Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  position: absolute;
  padding: 1em;
  color: red;
  bottom: 0;
  width: 100%;
  > * {
    margin-top: 1em;
  }
}